/* reset */
button {
  all: unset;
}

.dropdown-menu-content {
  min-width: 148px;
  background-color: var(--editor-bg);
  border-radius: var(--border-radius);
  padding: var(--size-2);
  box-shadow: var(--editor-shadow);
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
  display: flex;
  flex-direction: column;
  gap: var(--size-2);
}
.dropdown-menu-content[data-side='top'] {
  animation-name: slideDownAndFade;
}
.dropdown-menu-content[data-side='right'] {
  animation-name: slideLeftAndFade;
}
.dropdown-menu-content[data-side='bottom'] {
  animation-name: slideUpAndFade;
}
.dropdown-menu-content[data-side='left'] {
  animation-name: slideRightAndFade;
}

.dropdown-menu-item {
  cursor: pointer;
  font-size: 12px;
  line-height: 1;
  color: var(--text-color);
  border-radius: 3px;
  display: flex;
  align-items: center;
  height: 25px;
  padding: 0 var(--size-1);
  position: relative;
  user-select: none;
  outline: none;
  gap: var(--size-1);
}
.dropdown-menu-item[data-highlighted] {
  background-color: var(--editor-header-bg);
}
.dropdown-menu-item[data-disabled] {
  cursor: default;
  background-color: var(--editor-bg);
  color: var(--seperator-color);
}

.dropdown-menu-arrow {
  fill: var(--editor-bg);
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  from {
    opacity: 0;
    transform: translateX(2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
