button {
  all: unset;
}

.checkbox {
  display: flex;
  align-items: center;
}

.checkbox-root {
  background-color: var(--background);
  border-radius: var(--border-radius);
  border: var(--basic-border);
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkbox-root:hover {
  cursor: pointer;
  background-color: var(--background-radio-checkbox);
  border: var(--radio-checkbox-border);
}
.checkbox-root[data-state='checked'] {
  background-color: var(--background-radio-checkbox);
  border: var(--radio-checkbox-border);
}
.checkbox-root:focus-visible {
  box-shadow: var(--focus-shadow);
}

.checkbox-indicator svg path {
  fill: var(--radio-checkbox-icon-color);
}

.checkbox-label {
  color: var(--body);
  padding-left: 0.5rem;
  font-size: 12px;
  line-height: 1;
}
