button {
  all: unset;
}

.checkbox {
  display: flex;
  align-items: center;
}

.checkbox-root {
  background-color: var(--input-bg);
  border-radius: var(--border-radius);
  border: 1px solid var(--editor-bg);
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkbox-root:hover {
  cursor: pointer;
}
.checkbox-root:focus-visible {
  box-shadow: var(--focus-shadow);
}

.checkbox-indicator svg path {
  fill: var(--text-color);
}

.checkbox-label {
  color: var(--text-color);
  padding-left: 0.5rem;
  font-size: 12px;
  line-height: 1;
}
