.card-text {
  border-radius: var(--border-r1);
  border: var(--input-border);
  background: var(--N25);
  font-size: 12px;
  line-height: 12px;
  color: var(--body);
  text-align: start;
  padding: var(--input-padding);
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  min-height: 14px;
}

.card-text > .card-text-line {
  line-height: 25px;
}

.card-text .card-text-line {
  white-space: pre-wrap;
}

.card-text .card {
  color: var(--body);
  padding: 2px 0.24em;
  background-color: var(--background);
  border-radius: var(--border-r1);
  user-select: none;
  background-color: var(--N75);
  border: var(--basic-border);
}
.card-text .card .card-icon {
  margin-right: var(--size-1);
  display: inline-block;
  width: 1em;
  vertical-align: middle;
}
