.accordion-root {
  display: flex;
  flex-direction: column;
}
.accordion-header {
  display: flex;
  align-items: center;
  margin: 0;
  background-color: var(--background);
  border-bottom: var(--basic-border);
}
.accordion-item:has([data-state='open']) .accordion-header,
.accordion-item:has([data-state='open']) .accordion-trigger {
  background-color: var(--N75);
  border-bottom: none;
  font-weight: 600;
}
.accordion-header .ivy-chevron {
  transition: transform 300ms cubic-bezier(0.87, 0, 0.13, 1);
  font-size: 16px;
}
.accordion-header .button {
  margin-right: var(--size-3);
}
.accordion-header[data-state='open'] .accordion-trigger .ivy-chevron {
  transform: rotate(90deg);
}
.accordion-header[data-state='open'] .accordion-trigger .accordion-state {
  background-color: var(--transparent);
}
.accordion-trigger {
  all: unset;
  padding: var(--size-3);
  height: 16px;
  flex: 1;
  display: flex;
  align-items: center;
  gap: var(--size-1);
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
}

.accordion-trigger:hover {
  cursor: pointer;
}
.accordion-trigger:focus-visible {
  border: var(--activ-border);
}
.accordion-content {
  overflow: hidden;
  background-color: var(--N75);
}
.accordion-content[data-state='open'] {
  animation: accordionSlideDown 200ms cubic-bezier(0.87, 0, 0.13, 1);
}
.accordion-content[data-state='closed'] {
  animation: accordionSlideUp 200ms cubic-bezier(0.87, 0, 0.13, 1);
}
.accordion-content .accordion-content-data {
  display: flex;
  flex-direction: column;
  gap: var(--size-3);
  padding: var(--size-3) var(--size-2);
  border-bottom: var(--basic-border);
}
.accordion-content .accordion-content-data:not(:has(*)) {
  padding-block: 0;
}

@media (prefers-reduced-motion) {
  .accordion-content {
    animation: none !important;
  }
}

@keyframes accordionSlideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes accordionSlideUp {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}
