.table .table-footer .add-row {
  border-style: dashed;
}
.table-footer .add-row .button {
  width: 100%;
  height: 100%;
  display: inline-block;
  border-radius: var(--border-radius);
}
.table-footer .add-row .ivy {
  border: 1px solid currentColor;
  border-radius: 1rem;
  width: var(--size-4);
  text-align: center;
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
  line-height: var(--size-4);
}
