.collapsible-root .collapsible-content .collapsible-content-data {
  gap: var(--size-2);
}

.add-row-container {
  display: flex;
  align-items: center;
}

.add-row-container .add-line {
  height: 2px;
  border-radius: 1rem;
  width: 100%;
  background-color: var(--N500);
}

.add-row-container .hovered {
  background-color: var(--A300);
}

.add-row-container .button {
  position: absolute;
  border: 0.75px solid var(--N200);
  margin-left: -7.5px;
  margin-right: auto;
  background-color: var(--background);
  width: 14px;
  height: 14px;
  border-radius: 10px;
}

.add-row-container .button:hover {
  background-color: var(--A300);
  color: var(--background);
}

.add-row-container .button:focus {
  background-color: var(--A300);
  color: var(--background);
}

.add-row-container .ivy {
  position: relative;
  top: -4px;
  left: -3.5px;
  width: 8px;
  height: 8px;
  font-size: 15px;
}

.table .table-footer .show-more-rows {
  border-top: var(--basic-border);
}

.table .table-footer .show-more-rows .button {
  width: 100%;
  height: 100%;
  display: flex;
  gap: var(--size-2);
  border-radius: var(--border-radius);
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  font-weight: normal;
  font-size: 12px;
  justify-content: left;
}

.table-footer .show-more-rows .ivy {
  align-self: center;
  display: inline-block;
  font-size: 16px;
}
