.message {
  display: inline-flex;
  align-items: flex-start;
  gap: var(--size-1);
  padding-inline: var(--size-1);
  font-size: 12px;
  font-weight: 400;
}
.message[data-state='error'] {
  color: var(--error-color);
}
.message[data-state='warning'] {
  color: var(--warning-color);
}

.message i {
  margin-top: var(--size-1);
}
