button {
  all: unset;
}
button:disabled {
  opacity: 0.6 !important;
  cursor: not-allowed !important;
}

.editor {
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  gap: var(--size-3);
  padding-bottom: var(--size-3);
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  line-height: 24px;
  background-color: var(--editor-header-bg);
  padding: var(--size-3) var(--size-4);
  gap: var(--size-2);
}
.header-left {
  display: flex;
  gap: 0.75rem;
  font-weight: 600;
  font-size: 14px;
  flex: 1;
  min-width: 7rem;
}
.header-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.header-left .ivy {
  font-size: 1.5rem;
}
.header-right {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 12px;
}
.header-right .header-search {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.header-right .header-search .ivy {
  font-size: 14px;
}

.header-messages {
  display: flex;
  flex-direction: column;
  margin: 0 var(--size-4);
  max-height: calc(15px * 2 + var(--size-1) * 4);
  overflow: auto;
}
.header-status {
  padding: var(--size-1);
  font-weight: 400;
  font-size: 12px;
  display: inline-flex;
  align-items: center;
  gap: var(--size-1);
}
.header-status.message-error {
  color: var(--error-color);
}
.header-status.message-warning {
  color: var(--warning-color);
}

.content {
  padding: 0 var(--size-3);
  display: flex;
  flex-direction: column;
  gap: var(--size-3);
}
