.responsible-select .select-input {
  gap: var(--size-4);
}
.responsible-select .select-button {
  flex: 0 0 6rem;
}
.responsible-select .select-input .input {
  width: calc(100% - 6rem - var(--size-4));
}
.responsible-select .select-input .select-input .select-button {
  flex: 0 1 auto;
}
.responsible-select .select-input .select .select-menu {
  top: unset;
  margin: 0;
}
.responsible-select .select-input .fieldset-column {
  gap: 0;
}
.responsible-select .select-input .fieldset-column .fieldset-label {
  display: none;
}
