.responsible-select {
  display: flex;
  gap: var(--size-4);
}
.responsible-select .select:first-child {
  flex: 0 0 8rem;
}
.responsible-select .input {
  width: calc(100% - 8rem - var(--size-4));
}
