.tags {
  display: flex;
  gap: var(--size-3);
  font-size: 12px;
}
.tag {
  background: var(--editor-bg);
  border-radius: 1rem;
  padding: 6px 10px;
}
.tag span {
  margin-left: var(--size-1);
}
.tag-add {
  border: 1px dashed var(--button-color);
  padding: 4px 10px;
}
.tag-remove .ivy {
  color: var(--error-color);
}
.tag-remove .ivy,
.tag-add .ivy {
  border: 1px solid currentColor;
  border-radius: 100%;
  width: 12px;
  height: 12px;
  text-align: center;
  font-size: 8px;
  line-height: 12px;
}
.tag-remove:hover,
.tag-add:hover {
  cursor: pointer;
}
.tag-remove:focus-visible,
.tag-add:focus-visible {
  box-shadow: var(--focus-shadow);
}
