.ui-table-cell .monaco-editor-background {
  background-color: unset;
}

.ui-table-cell:has(.script-input) {
  padding: 0px;
}

.ui-table-cell .script-input .ui-input {
  background-color: transparent;
  border: none;
}

.ui-table-cell .script-input .code-editor {
  border-radius: 0px;
}

.ui-table-cell .script-input .ui-button {
  color: var(--body);
}

.ui-table-cell .code-editor .code-input {
  border-radius: 0px;
}
