.table-cell .monaco-editor-background {
  background-color: unset;
}

.table-cell:has(.code-editor) {
  padding: 0px;
}

.table-cell .code-editor {
  border-radius: 0px;
}

.table-cell .script-input .button {
  color: var(--body);
}

.table-cell .code-editor .code-input {
  border-radius: 0px;
}
