.table-cell:has(.input) {
  padding: 1px;
}
.table-cell .input {
  border: none;
  padding: 8px;
  width: calc(100% - 15px);
  background-color: var(--background);
  color: var(--body);
  border-radius: 0px;
}

.editableCell-with-browser {
  display: flex;
  gap: var(--size-1);
  align-items: center;
}

.editableCell-with-browser .input {
  flex: auto;
  width: 100%;
}
