.table-cell:has(.input) {
  padding: var(--size-1);
}
.table-cell .input {
  border: none;
  padding: var(--size-1);
  width: calc(100% - var(--size-2));
  background-color: var(--N25);
}
.table-cell .input:where(:hover, :focus),
.table-cell .code-editor .input {
  background-color: var(--background);
}

.editableCell-with-browser {
  display: flex;
  gap: var(--size-1);
  align-items: center;
}

.editableCell-with-browser .input {
  flex: auto;
  width: 100%;
}
