.table-cell:has(.select) {
  padding: var(--size-1);
}
.table-cell .select-button {
  background-color: var(--table-row-bg);
  padding: 5px;
}
.table-cell .select-button:hover,
.table-cell .select-button:focus {
  background-color: var(--background);
}
.table-cell .select-menu {
  top: unset;
  margin: 0;
}
