.input {
  all: unset;
  border-radius: var(--border-radius);
  border: var(--basic-border);
  background: var(--background);
  font-size: 12px;
  line-height: 12px;
  color: var(--body);
  text-align: start;
  padding: var(--input-padding);
}
.input:disabled {
  opacity: 0.6 !important;
  cursor: not-allowed !important;
}
.input:focus {
  border: var(--activ-border);
}
textarea.input {
  resize: vertical;
  white-space: pre-wrap;
  line-height: 14px;
}

.input-with-browser {
  display: flex;
  gap: var(--size-1);
  align-items: center;
}

.input-with-browser .input {
  flex: auto;
  width: 100%;
}
