.input {
  all: unset;
  border-radius: var(--border-radius);
  border: var(--input-border);
  background: var(--input-bg);
  font-size: 12px;
  line-height: 12px;
  color: var(--input-color);
  text-align: start;
  padding: var(--input-padding);
}
.input:disabled {
  opacity: 0.6 !important;
  cursor: not-allowed !important;
}
.input:focus {
  box-shadow: var(--focus-shadow);
}
textarea.input {
  resize: vertical;
  white-space: pre-wrap;
  line-height: 14px;
}
