.radio-group-root {
  display: flex;
  flex-direction: column;
  gap: var(--size-2);
}
.radio-group-root[data-orientation='horizontal'] {
  flex-direction: row;
  gap: var(--size-4);
}

.radio-group-item {
  all: unset;
  background-color: var(--background);
  width: 15px;
  height: 15px;
  border-radius: 100%;
  border: var(--basic-border);
}
.radio-group-item:hover {
  background-color: var(--background-radio-checkbox);
  border: var(--radio-checkbox-border);
}
.radio-group-item:focus {
  box-shadow: var(--A50);
}
.radio-group-item[data-state='checked'] {
  background-color: var(--background-radio-checkbox);
  border: var(--radio-checkbox-border);
}
.radio-group-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}
.radio-group-indicator::after {
  content: '';
  display: block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: var(--radio-checkbox-icon-color);
}

.radio-group-label {
  color: var(--body);
  font-size: 12px;
  line-height: 1;
  padding-left: var(--size-3);
}
