.code-editor .code-input {
  border-radius: var(--border-radius);
  border: var(--input-border);
  background: var(--input-bg);
  font-size: 12px;
  line-height: 12px;
  color: var(--input-color);
  text-align: start;
  padding: var(--input-padding);
}
