.code-editor {
  background: var(--background);
}
.code-editor .code-input {
  border-radius: var(--border-radius);
  border: var(--basic-border);
  font-size: 12px;
  line-height: 12px;
  color: var(--body);
  text-align: start;
  padding: var(--input-padding);
}

.code-editor .code-input:focus-within {
  border: var(--activ-border);
}
