.code-editor .code-input {
  border-radius: var(--border-radius);
  border: var(--basic-border) !important;
  background: var(--background);
  font-size: 12px;
  line-height: 12px;
  color: var(--body);
  text-align: start;
  padding: var(--input-padding);
}
