.script-area {
  display: flex;
  gap: var(--size-1);
  position: relative;
}
.script-area .input {
  flex: auto;
  width: 100%;
}
.script-area .resizable-code-editor {
  flex: 1;
  position: relative;
}

.script-area .button {
  position: absolute;
  top: 0;
  right: 0;
  margin: var(--size-2);
}
