.script-area {
  display: flex;
  gap: var(--size-1);
  position: relative;
}
.script-area .input {
  flex: auto;
  width: 100%;
}
.script-area .resizable-code-editor {
  flex: 1;
  position: relative;
}

.script-area .button {
  position: absolute;
  top: 0;
  right: 0;
  margin: var(--size-2);
  background-color: var(--background);
}
.script-area .button:hover {
  background-color: var(--N200);
}
.script-area:has(.monaco-editor .scrollbar.visible) .button {
  z-index: 20;
}

.script-area .code-editor {
  border-radius: var(--border-r1);
}
