.popover-content {
  border-radius: var(--border-radius);
  width: min(90vw, 400px);
  background-color: var(--N25);
  box-shadow: var(--popover-shadow);
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
  color: var(--body);
  padding: var(--size-2);
}
.popover-content .script-input .code-editor .code-input .monaco-editor .view-lines,
.popover-content .script-input .code-editor .code-input {
  background-color: var(--background);
}
.popover-content:focus {
  box-shadow: var(--focus-shadow);
}
.popover-content[data-state='open'][data-side='top'] {
  animation-name: slideDownAndFade;
}
.popover-content[data-state='open'][data-side='right'] {
  animation-name: slideLeftAndFade;
}
.popover-content[data-state='open'][data-side='bottom'] {
  animation-name: slideUpAndFade;
}
.popover-content[data-state='open'][data-side='left'] {
  animation-name: slideRightAndFade;
}

.popover-arrow {
  fill: var(--N25);
}

.popover-close {
  all: unset;
  font-family: inherit;
  font-size: 10px;
  border-radius: 100%;
  height: 20px;
  width: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  position: absolute;
  top: var(--size-2);
  right: var(--size-2);
}
.popover-close:hover {
  cursor: pointer;
  background-color: var(--N100);
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  from {
    opacity: 0;
    transform: translateX(2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
