.tabs-root {
  display: flex;
  flex-direction: column;
}
.tabs-list {
  flex-shrink: 0;
  display: flex;
  gap: 4px;
  margin-left: auto;
  flex-wrap: wrap;
  flex: 1 1 0;
  justify-content: flex-end;
}
.tabs-trigger {
  font-family: inherit;
  background-color: var(--button-bg);
  border-radius: var(--border-radius);
  padding: 5px 10px;
  height: 0.75rem;
  width: 5rem;
  max-width: 7rem;
  display: flex;
  flex: 1 0 0;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  font-size: 12px;
  line-height: 1;
  color: var(--button-color);
  user-select: none;
  cursor: pointer;
}
.tabs-trigger[data-state='inactive'] {
  border: 1px solid #a0a0a0;
}
.tabs-trigger:hover {
  border: 1px solid #202020;
}
.tabs-trigger[data-state='active'] {
  border: 1px solid #202020;
}
.tabs-trigger:focus-visible {
  position: relative;
  box-shadow: var(--focus-shadow);
}
.tabs-trigger .tab-state {
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 0.5rem;
  margin-right: 0.25rem;
  background-color: var(--button-color);
}
.tabs-trigger .tab-state[data-state='configured'] {
  background-color: var(--info-color);
}
.tabs-trigger .tab-state[data-state='warning'] {
  background-color: var(--warning-color);
}
.tabs-trigger .tab-state[data-state='error'] {
  background-color: var(--error-color);
}
.tabs-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
