.tabs-root {
  display: flex;
  flex-direction: column;
}
.tabs-list {
  flex-shrink: 0;
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
  flex: 1 1 0;
}
.tabs-trigger {
  font-family: inherit;
  padding: var(--size-2);
  height: var(--size-3);
  display: flex;
  flex: 1 0 0;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  font-size: 12px;
  line-height: 1;
  color: var(--button-color);
  user-select: none;
  cursor: pointer;
}
.tabs-trigger:where(:hover, [data-state='active']) {
  border-bottom: 1px solid var(--button-color);
}
.tabs-trigger:focus-visible {
  position: relative;
  box-shadow: var(--focus-shadow);
}
.tabs-trigger .tab-state {
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 0.5rem;
  margin-right: 0.25rem;
  background-color: var(--button-color);
}
.tabs-trigger .tab-state[data-state='configured'] {
  background-color: var(--info-color);
}
.tabs-trigger .tab-state[data-state='warning'] {
  background-color: var(--warning-color);
}
.tabs-trigger .tab-state[data-state='error'] {
  background-color: var(--error-color);
}
.tabs-content {
  display: flex;
  flex-direction: column;
  gap: var(--size-3);
}
