.table .table-column-header {
  padding: var(--size-2);
  text-align: start;
  font-size: 12px;
  height: 20px;
  border-bottom: var(--thick-border);
}

.table .table-column-header :where(.column-sort, .column-expand) {
  display: flex;
  align-items: center;
  gap: var(--size-1);
}

.table .table-column-header .column-sort-button[data-state='unsorted'] {
  transform: rotate(90deg);
}
.table .table-column-header .column-sort-button[data-state='asc'] {
  transform: rotate(180deg);
}

.table .table-column-header .column-expand-button .ivy-angle-down {
  transition: transform 300ms cubic-bezier(0.87, 0, 0.13, 1);
}
.table .table-column-header .column-expand-button[data-state='collapsed'] .ivy-angle-down {
  transform: rotate(-90deg);
}
