.combobox {
  position: relative;
}
.combobox-input {
  display: flex;
  width: 100%;
}
.combobox-button {
  font-size: 20px;
  width: 2rem;
  text-align: center;
  cursor: pointer;
}
.combobox-menu {
  overflow: auto;
  width: calc(100% - 2rem);
  max-height: 20rem;
  position: absolute;
  list-style: none;
  font-size: 12px;
  text-align: start;
  background-color: var(--input-bg);
  padding: 0;
  margin: 2px;
  z-index: 10;
  box-shadow: var(--editor-shadow);
  top: calc(1em + 0.5rem + 30px);
}
.combobox-menu-entry {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.combobox-menu-entry:where(.hover, .selected) {
  background: var(--editor-bg);
}
.comboboy-menu-entry-additional {
  color: var(--seperator-color);
}
