:root {
  --editor-bg: #2c2c2c;
  --editor-shadow: 0px 9px 27px rgba(0, 0, 0, 0.07), 0px 3.75998px 11.28px rgba(0, 0, 0, 0.0503198),
    0px 2.01027px 6.0308px rgba(0, 0, 0, 0.0417275), 0px 1.12694px 3.38082px rgba(0, 0, 0, 0.035),
    0px 0.598509px 1.79553px rgba(0, 0, 0, 0.0282725), 0px 0.249053px 0.747159px rgba(0, 0, 0, 0.0196802);
  --seperator-color: #5a5a5a;
  --tab-inactive-border: #a0a0a0;

  --input-bg: #202020;
  --input-color: white;
  --button-bg: #202020;
  --button-color: #bababa;
  --text-color: #bababa;
  --table-bg: #202020;
  --table-row-bg: #333333;

  --border-radius: 4px;
  --focus-shadow: 0 0 0 1px var(--text-color);

  --error-color: #ff796f;
  --warning-color: #ff9f46;
  --success-color: #1dca5a;
  --info-color: #75beff;
}

/* Input fields*/
button {
  all: unset;
}
.input {
  all: unset;
  border-radius: var(--border-radius);
  background: var(--input-bg);
  width: calc(100% - 20px);
  font-size: 12px;
  line-height: 1;
  color: var(--input-color);
  text-align: start;
  padding: 10px;
  cursor: text;
}
textarea.input {
  resize: vertical;
}
.input:focus {
  box-shadow: var(--focus-shadow);
}

.editor {
  background: var(--editor-bg);
  box-shadow: var(--editor-shadow);
  border-radius: var(--border-radius);
  padding: 1rem;
  color: var(--text-color);
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.header-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.header-editor {
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
}
.header-status {
  padding-top: 0.5rem;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
}
.header-status.message-error {
  color: var(--error-color);
}
.header-status.message-warning {
  color: var(--warning-color);
}
.header-icon {
  width: 1.5rem;
  height: 1.5rem;
}

/* Tabs */
.tabs-root {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.tabs-list {
  flex-shrink: 0;
  display: flex;
  gap: 4px;
}
.tabs-trigger {
  font-family: inherit;
  background-color: var(--button-bg);
  border-radius: var(--border-radius);
  padding: 6px 10px;
  height: 12px;
  width: 76px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 1;
  color: var(--button-color);
  user-select: none;
  cursor: pointer;
}
.tabs-trigger[data-state='inactive'] {
  border: 1px solid #a0a0a0;
}
.tabs-trigger:hover {
  border: 1px solid #202020;
}
.tabs-trigger[data-state='active'] {
  border: 1px solid #202020;
}
.tabs-trigger:focus {
  position: relative;
  box-shadow: var(--focus-shadow);
}

.tabs-trigger .dirty-state {
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 0.5rem;
  margin-right: 0.25rem;
  background-color: var(--button-color);
}
.tabs-trigger .dirty-state[data-state='configured'] {
  background-color: var(--info-color);
}
.tabs-trigger .dirty-state[data-state='dirty'] {
  background-color: var(--success-color);
}
.tabs-trigger .dirty-state[data-state='warning'] {
  background-color: var(--warning-color);
}
.tabs-trigger .dirty-state[data-state='error'] {
  background-color: var(--error-color);
}

/* Separator */
.separator-root {
  background-color: var(--seperator-color);
}
.separator-root[data-orientation='horizontal'] {
  height: 1px;
  width: 100%;
}
