/* Input fields*/
button {
  all: unset;
}
.input {
  all: unset;
  border-radius: var(--border-radius);
  background: var(--input-bg);
  width: calc(100% - 20px);
  font-size: 12px;
  line-height: 1;
  color: var(--input-color);
  text-align: start;
  padding: 10px;
}
button:disabled,
.input:disabled {
  opacity: 0.6 !important;
  cursor: not-allowed !important;
}
textarea.input {
  resize: vertical;
}
.input:focus {
  box-shadow: var(--focus-shadow);
}

.editor {
  padding: 1rem;
  color: var(--text-color);
}

/* Header */
.header {
  display: flex;
  gap: 1rem;
}
.header-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.header-editor {
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
}
.header-status {
  padding-top: 0.5rem;
  font-weight: 400;
  font-size: 12px;
  display: inline-flex;
  align-items: center;
  gap: 0.3rem;
}
.header-status.message-error {
  color: var(--error-color);
}
.header-status.message-warning {
  color: var(--warning-color);
}
.header .ivy {
  font-size: 1.5rem;
}

/* Tabs */
.tabs-root {
  display: flex;
  flex-direction: column;
}
.tabs-list {
  flex-shrink: 0;
  display: flex;
  gap: 4px;
  margin-left: auto;
  flex-wrap: wrap;
  flex: 1 1 0;
  justify-content: flex-end;
}
.tabs-trigger {
  font-family: inherit;
  background-color: var(--button-bg);
  border-radius: var(--border-radius);
  padding: 5px 10px;
  height: 0.75rem;
  width: 5rem;
  max-width: 7rem;
  display: flex;
  flex: 1 0 0;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  font-size: 12px;
  line-height: 1;
  color: var(--button-color);
  user-select: none;
  cursor: pointer;
}
.tabs-trigger[data-state='inactive'] {
  border: 1px solid #a0a0a0;
}
.tabs-trigger:hover {
  border: 1px solid #202020;
}
.tabs-trigger[data-state='active'] {
  border: 1px solid #202020;
}
.tabs-trigger:focus {
  position: relative;
  box-shadow: var(--focus-shadow);
}
.tabs-trigger .tab-state {
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 0.5rem;
  margin-right: 0.25rem;
  background-color: var(--button-color);
}
.tabs-trigger .tab-state[data-state='configured'] {
  background-color: var(--info-color);
}
.tabs-trigger .tab-state[data-state='dirty'] {
  background-color: var(--success-color);
}
.tabs-trigger .tab-state[data-state='warning'] {
  background-color: var(--warning-color);
}
.tabs-trigger .tab-state[data-state='error'] {
  background-color: var(--error-color);
}

/* Separator */
.separator-root {
  background-color: var(--seperator-color);
}
.separator-root[data-orientation='horizontal'] {
  height: 1px;
  width: 100%;
}
