.fieldset-column {
  display: flex;
  flex-direction: column;
  gap: var(--size-1);
  font-size: 12px;
}
.fieldset-label {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: var(--size-1);
  height: 20px;
}
.fieldset-label .fieldset-controls {
  display: inline-flex;
  gap: var(--size-1);
}
.fieldset-label .fieldset-controls .button[data-state='active'] {
  background-color: var(--button-bg);
}

.fieldset-input {
  display: flex;
  flex-direction: column;
}
.fieldset-input.fieldset-error {
  --input-border: 1px solid var(--error-color);
}
.fieldset-input.fieldset-warning {
  --input-border: 1px solid var(--warning-color);
}

.fieldset-message {
  display: inline-flex;
  align-items: center;
  gap: var(--size-1);
  padding-inline: var(--size-1);
}
.fieldset-message.fieldset-error {
  color: var(--error-color);
}
.fieldset-message.fieldset-warning {
  color: var(--warning-color);
}
