.combobox-input {
  display: flex;
  gap: var(--size-1);
  align-items: center;
}
.combobox-input .input,
.combobox-input .code-editor {
  flex: 1 1 auto;
}

.combobox-input .combobox-button {
  font-size: 20px;
  height: unset;
  display: flex;
  align-items: center;
}
.combobox-input .combobox-button .ivy-angle-down {
  transition: transform 300ms cubic-bezier(0.87, 0, 0.13, 1);
}
.combobox-input .combobox-button[aria-expanded='true'] .ivy-angle-down {
  transform: rotate(180deg);
}
.combobox-menu {
  overflow: auto;
  max-height: 20rem;
  position: absolute;
  list-style: none;
  font-size: 12px;
  text-align: start;
  background-color: var(--input-bg);
  padding: 0;
  margin: 0px;
  z-index: 10;
  box-shadow: var(--editor-shadow);
}
.combobox-menu-entry {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: var(--size-2);
  cursor: pointer;
}
.combobox-menu-entry:where(.hover, .selected) {
  background: var(--editor-bg);
}
.combobox-menu-entry-additional {
  color: var(--seperator-color);
}
.combobox-menu-entry > div {
  display: flex;
  align-items: center;
  gap: var(--size-1);
}
.combobox-menu-entry .ivy {
  font-size: 1rem;
}
