.collapsible-root .collapsible-header {
  display: flex;
}
.collapsible-root .collapsible-header .message {
  min-width: 0;
}
.collapsible-root .collapsible-header .message span {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.collapsible-root .collapsible-trigger {
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: var(--size-1);
  padding-inline: var(--size-1);
  width: unset;
  white-space: nowrap;
}
.collapsible-root .collapsible-trigger .ivy-angle-down {
  transition: transform 300ms cubic-bezier(0.87, 0, 0.13, 1);
}
.collapsible-root .collapsible-trigger[data-state='closed'] .ivy-angle-down {
  transform: rotate(-90deg);
}

.collapsible-root .collapsible-content {
  overflow: hidden;
  padding: 1px;
}
.collapsible-root .collapsible-content .collapsible-content-data {
  margin-top: var(--size-1);
  display: flex;
  flex-direction: column;
  gap: var(--size-3);
}
.collapsible-root .collapsible-content[data-state='open'] {
  animation: collapsableSlideDown 200ms cubic-bezier(0.87, 0, 0.13, 1);
}
.collapsible-root .collapsible-content[data-state='closed'] {
  animation: collapsableSlideUp 200ms cubic-bezier(0.87, 0, 0.13, 1);
}

@media (prefers-reduced-motion) {
  .collapsible-root .collapsible-content {
    animation: none !important;
  }
}

@keyframes collapsableSlideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-collapsible-content-height);
  }
}

@keyframes collapsableSlideUp {
  from {
    height: var(--radix-collapsible-content-height);
  }
  to {
    height: 0;
  }
}
