.dialog-overlay {
  position: fixed;
  inset: 0;
}

.dialog-content {
  background-color: var(--N25);
  color: var(--body);
  box-shadow: var(--editor-shadow);
  position: fixed;
  bottom: 0;
  right: 0;
  top: 0;
  padding: var(--input-padding);
  animation: contentShow 200ms cubic-bezier(0.27, 0, 0.33, 1);
  animation-fill-mode: forwards;
  border-end-end-radius: 0;
  border-end-start-radius: 0;
  width: calc(100vw - 2 * var(--input-padding));
}
.dialog-content:focus {
  outline: none;
}
.dialog-content-exit {
  animation: contentExit 200ms cubic-bezier(0.73, 0, 0.67, 0);
  animation-fill-mode: forwards;
}
.dialog-content .tabs-content {
  gap: var(--size-1);
}
.dialog-content .table-root {
  overflow: auto;
  max-height: 50vh;
  padding: 1px;
}
.dialog-content .browser-helptext {
  font-size: 12px;
  background-color: var(--background);
  border: var(--basic-border);
  padding: var(--input-padding);
  overflow: auto;
  max-height: 50vh;
  display: flex;
  flex-direction: column;
  gap: var(--size-1);
  border-radius: var(--border-radius);
  margin: 0;
}

.dialog-title {
  margin: 0;
  margin-bottom: var(--size-2);
  font-weight: 500;
  color: var(--body);
  font-size: 17px;
  display: flex;
  gap: var(--size-4);
}
.dialog-title .button {
  border-radius: 100%;
}

.dialog-footer {
  display: flex;
  justify-content: flex-end;
  gap: var(--size-1);
}
.dialog-footer .button {
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: var(--size-1);
  padding-inline: var(--size-1);
  width: unset;
}

@keyframes contentShow {
  from {
    opacity: 1;
    right: -100%;
  }
  to {
    opacity: 1;
    right: 0;
  }
}

@keyframes contentExit {
  from {
    opacity: 1;
    right: 0;
  }
  to {
    opacity: 1;
    right: -100%;
  }
}

@media (prefers-reduced-motion) {
  .accordion-content {
    animation: none !important;
  }
}
