.browser-overlay {
  position: fixed;
  inset: 0;
}

.browser-dialog {
  background-color: var(--N25);
  color: var(--body);
  box-shadow: var(--editor-shadow);
  position: absolute;
  bottom: 0;
  right: 0;
  top: 0;
  padding: var(--input-padding);
  animation: contentShow 200ms cubic-bezier(0.27, 0, 0.33, 1);
  animation-fill-mode: forwards;
  width: calc(100% - 2 * var(--input-padding));
}
.browser-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--size-2);
  height: 100%;
}
.browser-content-exit {
  animation: contentExit 200ms cubic-bezier(0.73, 0, 0.67, 0);
  animation-fill-mode: forwards;
}
.browser-content .tabs-root {
  flex: 1 0 auto;
}
.browser-content .tabs-content {
  gap: var(--size-1);
}
.browser-content .table-root {
  overflow: auto;
  max-height: calc(100vh - 200px);
  padding: 1px;
}
.browser-content .browser-helptext {
  font-size: 12px;
  background-color: var(--background);
  border: var(--basic-border);
  padding: var(--input-padding);
  overflow: auto;
  max-height: 50vh;
  display: flex;
  flex-direction: column;
  gap: var(--size-1);
  border-radius: var(--border-radius);
  margin: 0;
}

.browser-title {
  margin: 0;
  margin-bottom: var(--size-2);
  font-weight: 500;
  color: var(--body);
  font-size: 17px;
  display: flex;
  gap: var(--size-4);
}
.browser-title .button {
  border-radius: 100%;
}

.browser-footer {
  display: flex;
  justify-content: flex-end;
  gap: var(--size-1);
}
.browser-footer .button {
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: var(--size-1);
  padding-inline: var(--size-1);
  width: unset;
}

.loader {
  text-align: center;
  font-size: 14px;
}

.loader p {
  display: inline-block;
  opacity: 0;
  animation: load-fade 1.5s infinite;
}

@keyframes load-fade {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 1;
    right: -100%;
  }
  to {
    opacity: 1;
    right: 0;
  }
}

@keyframes contentExit {
  from {
    opacity: 1;
    right: 0;
  }
  to {
    opacity: 1;
    right: -100%;
  }
}

@media (prefers-reduced-motion) {
  .accordion-content {
    animation: none !important;
  }
}
