.table-root .row.row-error {
  --basic-border: 1px solid var(--error-color);
}
.table-root .row.row-warning {
  --basic-border: 1px solid var(--warning-color);
}
.table-root .row.row-message {
  --basic-border: none;
}
