.table-cell .reorder-select-icon {
  display: flex;
  align-items: center;
  gap: var(--size-3);
}

.table-cell .reorder-select-icon .ivy {
  font-size: 15px;
}

.dnd-row-handle {
  cursor: grab;
}

.dnd-row-handle .ivy-change-type {
  display: flex;
  width: 15px;
  justify-content: flex-end;
  padding: var(--size-2);
}
