.selectable-row {
  cursor: pointer;
}
.selectable-row:where(:hover) {
  background-color: var(--A50);
}

.selectable-row:where([data-state='selected']),
.selectable-row:where([data-state='selected']) .table-cell .row-expand .row-expand-label-info {
  background-color: var(--A400);
  color: var(--selected-text);
}

.selectable-row:where([data-state='selected']) .table-cell .row-expand .row-expand-button:hover {
  background-color: var(--A400);
  color: var(--selected-text);
}
