.table-root {
  background: var(--table-bg);
  border-radius: var(--border-radius);
}
.table {
  width: 100%;
  border-spacing: 0 var(--size-1);
  margin-block: calc(-1 * var(--size-1));
}
.table tr :where(th, td) {
  border-top: 1px solid var(--editor-bg);
  border-bottom: 1px solid var(--editor-bg);
}
.table tr :where(th, td):first-child {
  border-left: 1px solid var(--editor-bg);
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}
.table tr :where(th, td):last-child {
  border-right: 1px solid var(--editor-bg);
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}
