.table-root {
  border-radius: var(--border-radius);
}
.table-root .icon-input {
  margin-bottom: var(--size-1);
}
.table {
  width: 100%;
  border: var(--basic-border);
  border-radius: var(--border-radius);
  border-spacing: 0;
  background: var(--background);
}

.table tr :where(td) {
  border-top: var(--seperator-border);
}
